$carrion-color-yellow: #ffcc00;

.bbb-pin-character-button {
  --pin-btn-size: 30px;
  --star-size: 20px;

  position: absolute;
  top: 5px;
  left: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--pin-btn-size);
  height: var(--pin-btn-size);
  cursor: pointer;
  border: 0;
  background: transparent;
  border-radius: 50%;
  overflow: visible;
  opacity: 1;
  transition: opacity 0.2s;

  &:focus,
  &:focus-visible {
    outline: unset;
  }

  .star {
    display: flex;
    position: absolute;
    z-index: 1;

    svg {
      fill: $carrion-color-yellow;
      width: var(--star-size);
    }
  }

  .halo {
    position: absolute;
    inset: -2.5px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.75;
    pointer-events: none;
    z-index: 0;
    transition: opacity 0.2s;
  }

  &:not(:hover, :focus) .halo {
    opacity: var(--halo-off-opacity, 0);
  }
}

.character-card.bbb-pinned {
  order: -1;
}

.character-card:not(.bbb-pinned, :hover, :focus) .bbb-pin-character-button {
  opacity: 0;
}

.character-card .bbb-pin-character-button:focus {
  opacity: 1;
}

.character-card:not(.bbb-pinned) .bbb-pin-character-button {
  --halo-off-opacity: 0.25;
}

// ordinary card
.character-card .bbb-pin-character-button,
// pinned and pressed
.character-card.bbb-pinned .bbb-pin-character-button:active {
  .when-inactive {
    opacity: 1;
  }
  .when-active {
    opacity: 0;
  }
}

// pinned card
.character-card.bbb-pinned .bbb-pin-character-button,
// pressed card
.character-card .bbb-pin-character-button:active {
  .when-inactive {
    opacity: 0;
  }
  .when-active {
    opacity: 1;
  }
}
