.character-grid.drv-notifs-only {
  .character-card:not(:has(.pending-badge)) {
    display: none;
  }
}

.character-grid:not(.drv-as-compact) {
  .drv-when-in-compact {
    display: none;
  }
}

.character-grid.drv-as-compact {
  .drv-when-not-in-compact {
    display: none;
  }

  .character-card {
    display: grid;
    grid-template-areas: "avatar name controls" "avatar meta controls";
    grid-template-rows: min-content 1fr;
    grid-template-columns: max-content auto max-content;
    gap: 4px;

    a:has(> .character-avatar) {
      grid-area: avatar;
      width: fit-content;
      display: flex !important;
    }

    .character-avatar {
      width: 80px;
      height: 80px;
      margin: 0;
    }

    .character-name {
      grid-area: name;
      margin-bottom: 0;
    }

    .character-meta {
      grid-area: meta;
      padding-left: 4px;

      // We don't care about the text, but we do care the status.
      font-size: 0;
      > span {
        font-size: 12px;
      }
    }

    // notifications
    .pending-badge {
      right: unset;
      left: 4px;
      top: 4px;
    }

    .pending-badge-dm + .pending-badge-love {
      top: 28px;
    }

    // controls
    > div:last-of-type {
      grid-area: controls;
      flex-shrink: 1;
      margin-top: 0 !important;
    }

    // tags
    .character-meta + div:not(:last-of-type) {
      display: none !important;
    }

    // description
    > p {
      display: none !important;
    }

    // duplicate button
    a[href^="/duplicate"] {
      display: none !important;
    }

    // delete button
    form[action^="/delete"] {
      display: none !important;
    }
  }
}
