.character-grid.bbb-dashboard-focus-notifs {
  .character-card:not(:has(.pending-badge)) {
    display: none;
  }
}

.bbb-dashboard-focus-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--bbb-dashboard-button-depressed);

  &::before {
    content: "";
    display: block;
    width: 0.9ex;
    height: 0.9ex;
    border: 1px solid currentColor;
    border-radius: 50%;
    opacity: 0.5;
  }

  &.bbb-dashboard-on {
    border-color: var(--bbb-dashboard-notif);
  }

  &.bbb-dashboard-on::before {
    opacity: 1;
    border-color: var(--bbb-dashboard-notif);
    background-color: var(--bbb-dashboard-notif);
  }
}
