.drv-view-controls {
  display: flex;

  .drv-button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
  .drv-button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.drv-button {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #444;
  background: #2a2a2a;
  color: #e0e0e0;
  font-size: 13px;
  cursor: pointer;
}

.drv-button.drv-inactive {
  background: color-mix(#2a2a2a, #1a1a1a 75%);

  .drv-icon {
    opacity: 50%;
  }
}

.drv-icon-view-compact,
.drv-icon-view-standard {
  display: grid;
  gap: 1px;

  border-radius: 2px;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  user-select: none;

  span {
    display: inline-block;
    background: currentColor;
    border-radius: 2px;
  }
}

.drv-icon-view-compact {
  grid-template-columns: repeat(3, 4px);
  grid-template-rows: repeat(3, 4px);
}

.drv-icon-view-standard {
  grid-template-columns: repeat(2, 7px);
  grid-template-rows: repeat(2, 7px);
}
