@use "sass:string";
@use "sass:list";
@use "../sass/string-ext";

$tags:
  "Body Plan", "Species Type", "Presentation", "Body Type", "RP Style",
  "Approach", "Approach", "Canon Preferences", "Perspective", "RP Length",
  "Post Length", "Experience", "Availability";

:root {
  --tag-background: unset;
  --tag-border: unset;
  --tag-border-radius: unset;
  --tag-padding: unset;
}

.tag-category-label {
  align-self: center;
  font-size: 75%;
  line-height: 90%;
}

.tag-category-icon {
  align-self: center;
}

%tag-list {
  span[title] {
    background: var(--tag-background) !important;
    // border: var(--tag-border) !important;
    border-radius: var(--tag-border-radius) !important;
    border-style: solid !important;
    filter: grayscale(50%);
    padding: var(--tag-padding) !important;
  }
}

%profile-tag-list {
  --tag-padding: 6px 12px;
  --tag-border-radius: 4px;
  --tag-border: 2px solid color-mix(in hsl, currentColor, transparent 70%);

  &.has-labels {
    row-gap: 12px !important;
  }

  [data-nth-category="1"] {
    // --tag-background: color-mix(in hsl, currentColor, transparent 95%);
  }

  span[title] {
    position: relative;
  }

  .tag-category-label {
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateY(-3px);
  }

  @extend %tag-list;
}

%search-tag-list {
  @extend %tag-list;

  .tag-category-label {
    display: none;
  }
}

// Search results
.character-card .character-meta + div {
  @extend %search-tag-list;
}

// Character profile
#filtered-profile-content .card-body :nth-child(2) h3 + div {
  @extend %profile-tag-list;
}

[title="Body Plan"] {
  // hold
}
[title="Species Type"] {
  // hold
}
[title="Presentation"] {
  // hold
}
[title="Body Type"] {
  // hold
}
[title="RP Style"] {
  // hold
}
[title="Approach"] {
  // hold
}
[title="Approach"] {
  // hold
}
[title="Canon Preferences"] {
  // hold
}
[title="Perspective"] {
  // hold
}
[title="RP Length"] {
  // hold
}
[title="Post Length"] {
  // hold
}
[title="Experience"] {
  // hold
}
[title="Availability"] {
  // hold
}
