.bbb-chat-autocomplete {
  position: absolute;
  background: #1a1a1a;
  border: 1px solid #3a3a3a;
  padding: 4px;

  &:not(.open) {
    display: none;
  }

  ol,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .options {
    display: flex;
    flex-flow: column-reverse;
    gap: 4px;
  }

  .options li {
    font-size: 14px;
    color: #848484;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 4px;
    gap: 8px;

    .figure {
      // The choice being exhibited.
      flex-shrink: 0;
    }

    .label {
      // User-friendly text explaining the choice.
      flex: 1;
      text-overflow: ellipsis;
    }
  }

  .li-command {
    .figure {
      font-weight: bold;
    }
  }

  .li-emoji {
    .label {
      font-family: monospace;
    }
  }

  .current-command-container:empty {
    display: none;
  }

  .current-command {
    display: flex;
    flex-flow: row;
    gap: 4px;
  }
}
