.bbb-chat-autocomplete {
  position: absolute;
  background: #1a1a1a;
  border: 1px solid #3a3a3a;
  padding: 4px;

  &:not(.open) {
    display: none;
  }

  .input-area:has(&.open) {
    #message-input {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  ol {
    display: flex;
    flex-flow: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 4px;
  }

  li {
    font-size: 14px;
    color: #848484;
  }

  .li-emoji {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 4px;
    gap: 8px;
  }
}
